html, body {    
    height:100%;
    margin:0;
    padding:0;
    
    font-size: 120%;
}

body {
/*     background-repeat: no-repeat; */
    background-attachment: fixed;
    background-position: center; 
/*     background-color: #cccccc; */

    font-family: Arial; 
    padding: 0px;
    margin: 0px;
    margin-left: 10px;
    margin-right: 10px;
    
/*    transform: scale(1.25);
    transform-origin: top left;
    overflow:hidden;*/
}

#live {
    background-image: url("../images/wallpaper.jpg"); 
}

#test {
    background-image: url("../images/wallpaper-test-system.jpg"); 
}

input[readonly] {    
    background: transparent;
    border: 0px;
}

p {
    padding: 0px;
    margin: 0px;
}

h1 {
    margin: 0px;
}

h2 {
    margin: 0px;
    font-size: 120%;
}

h3 {
    margin-bottom: 5px;
}

.navigation {
    margin-bottom: 20px;    
}


hr {
    margin-top: 0px;
}



th {
    white-space:nowrap;
    padding: 10px;
    margin: 0px;
}


th, td {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}

th {
/*     height: 10px; */
}

td {
    height: 40px;
}


.td_nowrap {
    white-space:nowrap; 
}


#body {
    padding-bottom: 5px;   /* Height of the footer */
}

#mainPageTable {
    border-collapse: collapse;
}


a:link, a:visited, a:hover, a:active {    
    text-decoration: none;
    color: #00407d;
}


#container {
    min-height:100%;
    position:relative;
}


#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height: 5px;   /* Height of the footer */
    margin-left: 5px;
}


.leftSideDiv, .midddleDiv, .rightSideDiv {
    display:inline-table;
/*     max-width: 37%; */
    vertical-align: top;
}

.leftSideDiv{
    display:inline-table;
/*     max-width: 300px; */
/*     max-width: 708px; */
    max-width: 1000px;
    vertical-align: top;

    margin-left: -5px;
    margin-right: 0px;  
}

.midddleDiv {
    
}

.rightSideDiv {
    
}

.verticalSpacer {
    display:inline-table;
    width: 2px;
}
    


.topAlignDiv {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.bottomAlignDiv {
    display: inline-block;
    vertical-align: bottom;
}


#articlesDiv {
}

#articlesDivTitle {
    margin-left: 5px;
}

#dipArticlesDiv, #pourArticlesNormalDiv, #pourArticlesFloatingCandlesDiv, #pourArticlesPreMadeDiv, #customArticleDiv, #basketDiv, #bibleVerseDiv {
    display: inline-block;  
    width: 100%;
    margin-bottom: 20px;
}

#bibleVerseDiv {
/*     padding: 20px; */
    max-width: 600px;
}

#dipArticlesDiv, #customArticleDiv, #pourArticlesFloatingCandlesDiv {
    margin-bottom: 10px;
}



/* border */
#dipArticlesTable, #pourArticlesTable, #preMadeArticlesTable, #customArticleTable, #basketTableNew, #basketTableEdit, #bookingsTable, #bibleVerseContentDiv, #navigationDiv {
    border-radius:8px;
    border-spacing: 0;
}

#dipArticlesTable, #pourArticlesTable, #preMadeArticlesTable, #customArticleTable, #basketTableNew, #bookingsTable, #bibleVerseContentDiv, #navigationDiv {
    border: 3px solid black; 
}

#basketTableEdit {
    border: 3px solid #750000; 
}

#editBookingTitle {
    color: #750000; 
}

/* Shade */
#dipArticlesTable, #pourArticlesTable, #preMadeArticlesTable, #customArticleTable, #basketTableNew, #basketTableEdit, #bookingsTable, #bibleVerseContentDiv, #navigationDiv {
    box-shadow: 5px 5px 5px #888888;
}


#dipArticlesTable, #pourArticlesTable, #preMadeArticlesTable, #customArticleTable, #basketTableNew, #basketTableEdit {
    width: 100%;
}

/* ############ Bibleverse Content ############## */
#bibleVerseContentDiv {
    background: rgba(255, 200, 200, 0.5);    
    padding: 6px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}


#basketButtonsDiv {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    white-space: nowrap;
    
/*     background: rgba(0, 0, 0, 0.5); */
}


#basketButtonsTable {
/*     width: 100%; */
}

#basketButtonsTable tr {
    text-align: center;
}

/*#bottomDiv {
    clear: both;
}*/

#navigationDiv {
    background: rgba(167, 232, 246, 0.8);  
    padding: 10px;
}


#logo {
/*     float: right;  */
     display: inline-block;  
}

#headerLinksDiv {
/*     float: right;  */
     display: inline-block;  
    margin-top: 5px;  
    margin-left: 50px; 
    margin-right: 50px;    
}


#headerLinksTexts {
    margin: 0px;
    font-size:120%;
}

#clock {
    float: right; 
}

#clockText {
    margin: 0px;
    font-size:200%;
}




.articleQuantityInput, .basketQuantityInput {
    width: 45px;
    padding: 2px;
    font-size: 120%;
    color: black;
} 

.articleMoneyInput, .basketMoneyInput {
    width: 60px;
    padding: 2px;
    font-size: 120%;
    color: black;
}


.bold{
    font-weight:bold;
}

#basketTotalMoneyRounded {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 150%;
    white-space:nowrap;
}

.moneyCell, .moneyCellSmall, .quantityCell {
    white-space:nowrap;
}

.moneyCellSmall {
    font-size: 80%;
}

.basketTotalRoundedLabel {
/*     margin-top: 45px; */
    margin-bottom: 13px;
/*     font-size: 150%; */
/*     text-align: right; */
/*     vertical-align:bottom; */
}


.basketTotalCell {
/*     vertical-align:top;  */
/*     padding-top: 1px; */
}

.basketTotalRoundedCell {
    vertical-align:bottom;
/*     padding-bottom: 0px; */
}

#customArticleDescriptionInput {
    width: 200px;
    font-size: 120%;
    padding: 5px;
}



#bibleVerseText {
    margin: 0px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

#bibleVerseReference {
    margin: 0px;
    margin-top: 10px;
    font-style: italic;
    text-align: right;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 70%;
}


/*.articleNameCell {
    max-width: 100px;
/*     word-wrap:break-word; */
/*     word-break: break-all; */
/*    white-space:nowrap;
}*/


/* ############ Table Dipping Articles ############## */

#dipArticlesTable th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background:  rgba(243, 235, 54, 0.5);
}

#dipArticlesTable tr:nth-child(odd){
/*     background-color: #ffff99;     */
    background:  rgba(255, 255, 153, 0.8);
}

#dipArticlesTable tr:nth-child(even){
/*     background-color: #ffffe4;     */
    background:  rgba(255, 255, 228, 0.8);
}



/* ############ Table Pouring Articles ############## */
#pourArticlesTable th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
/*     background-color: #7c4eff; */
    background:  rgba(124, 78, 255, 0.5);
/*     color: white; */
}

#pourArticlesTable tr:nth-child(odd){
/*     background-color: #a585ff;     */
    background:  rgba(165, 133, 255, 0.8);
}

#pourArticlesTable tr:nth-child(even){
/*     background-color: #ccbaff;     */
    background:  rgba(204, 186, 255, 0.8);
}


#preMadeArticlesTable th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background:  rgba(208, 108, 50, 0.8);
}

#preMadeArticlesTable tr:nth-child(odd){
    background:  rgba(248, 129, 60, 0.8);
}

#preMadeArticlesTable tr:nth-child(even){
/*     background-color: #ccbaff;     */
    background:  rgba(255, 175, 129, 0.8);
}




/* ############ Table Custom Article ############## */
#customArticleTable th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background:  rgba(0, 149, 149, 0.5);
}

#customArticleTable tr{
    background:  rgba(170, 255, 255, 0.5);
}




/* ############ Table Basket (new booking) ############## */
#basketTableNew th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background:  rgba(62, 138, 92, 0.6);
}

#basketTableNew tr:nth-child(odd){
    background:  rgba(133, 199, 159, 0.8);
}

#basketTableNew tr:nth-child(even){
    background:  rgba(204, 255, 204, 0.8); 
}


/* ############ Table Basket (edit completed booking) ############## */
#basketTableEdit th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background:  rgba(138, 62, 62, 0.6);
}

#basketTableEdit tr:nth-child(odd){
    background:  rgba(199, 133, 133, 0.8);
}

#basketTableEdit tr:nth-child(even){
    background:  rgba(255, 204, 204, 0.8); 
}

/* ############ Table Summary ############## */
#bookingsTable {
    margin-right: 5px;
    max-width: 1200px;
}
 
 
 #bookingsTable th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
}

 #bookingsTable tr:nth-child(odd){
/*     background-color: #85c79f;     */
    background:  rgba(133, 199, 159, 0.8);
}

 #bookingsTable tr:nth-child(even){
/*     background-color: #ccffcc;    */
    background:  rgba(204, 255, 204, 0.8); 
}





.articleImage {
    width: 30px;
    height: 30px;
    margin: 0px;
    float:left;
}


.articleImageLarge {
    width: 60px;
    height: 60px;
    margin: 0px;
    float:left;
}

.articlePackageDiv, .articlePriceDiv {
    height: 20px; 
    width: 70px; 
    margin-bottom: 0px; 
    float:left; 
    transform: rotate(-90deg);
    font-size: 80%;
    color: rgb(100, 100, 100);
    
}
.articlePackageDiv {
    margin-left: -15px;
    margin-right: -10px;
    margin-top: 20px; 
}

.articlePriceDiv {
    margin-left: 90px; 
    margin-right: 0px; 
    margin-top: -35px; 
}





.contentLogin {
    margin-left: 5px; 
    margin-top: 50px; 
    margin-bottom: 50px; 
/*     font-size:200%; */
}



/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    200;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0 ) 
                url('../images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}


/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}




/****** TOOLTIP ******/
.tooltip
{
  text-decoration:none;
  position:relative;
  display: inline-block;  
}

 
.tooltip span
{
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white; 
}
 
 
.tooltip span img
{
  float:left;
  margin:0px 8px 8px 0;
    position: relative;
    display: inline-block;
}
 
 
.tooltip:hover span
{
  display:block;
  position:absolute;
  top:-128px;
  left:20px;
  z-index:100;
  width:auto;
  max-width:256px;
  min-height:256px;
  border:1px solid black;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
}






a.headerLinks:link, a.headerLinks:visited, a.headerLinks:hover, a.headerLinks:active {    
    text-decoration: none;
    font-weight: bold;
    color: #00407d;
}



.question {
    margin-bottom: 0px;
}

.answer {
    margin-top: 0px;
}




